.footer {
  text-align: center;
  color: var(--text-color);
  font-size: 0.8rem;
  font-family: "Libre Baskerville", serif;
}

.footer-codecademy {
  font-size: 1rem;
}

.footer p {
  line-height: 2rem;
  vertical-align: middle;
}
